.admin-nav-link {
  color: #fff;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.2s ease;
  text-decoration: none;
}

.admin-nav-link:hover {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.admin-nav-link.active {
  background: rgba(0, 0, 0, 0.2);
}
