.order-row {
  border-bottom: 1px solid #f3f4f6;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.order-row:hover {
  background-color: #f5f5f5;
}

.order-row.expanded {
  background-color: #15acf3ff !important;
}