.btn-export{
    border: 1px solid #28a645 !important;
    color: #28a645 !important;
    background-color: #fff !important;
}

.btn-export:hover{
    border: black !important;
    color: white !important;
    background-color: #28a645 !important;
}