.full-screen-modal .ant-modal-content {
  padding: 0 !important;
  margin: 0 !important;
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.full-screen-modal .ant-modal-body {
  padding: 0 !important;
  margin: 0 !important;
}

.full-screen-modal .ant-modal-close {
  top: 10px !important;    /* Đưa nút X sát viền trên */
  right: 10px !important;  /* Đưa nút X sát viền phải */
  z-index: 10;
}
.cursor-pointer {
  cursor: pointer;
}