.product-card.ant-card {
  border: 1px solid #dfdfdf !important;
  overflow: hidden !important;
}

.product-card.ant-card:hover {
  border: 1px solid #4caf50 !important;
}

.product-card .ant-card-body {
  padding: 8px 10px;
}

.product-price-discount {
  color: #4caf50;
  font-weight: 600;
  line-height: 1;
}

.product-price-original {
  color: rgba(0, 0, 0, 0.45);
  opacity: 0.8;
  line-height: 1;
  margin-top: 1px;
}

.product-price-original span {
  text-decoration: line-through;
}
