.facebook-login-container {
  width: 50px !important;             /* vừa logo */
  height: 40px !important;            /* vuông, vừa logo */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 13px !important;              /* bỏ padding thừa */
  border: 1px solid #d5d6d6 ;
  border-radius: 10%;      /* bo tròn */
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

/* Hover */
.facebook-login-container:hover {
  background-color: #e6f0ff;
  border: 1px solid #91bcf4;
}

/* Icon Facebook */
.facebook-login-container .facebook-icon {
  font-size: 24px; /* bạn có thể tăng hoặc giảm */
  color: #1877f2;
}

/* Ẩn chữ trên nút Facebook */
.facebook-login-button {
  display: none; /* ẩn nút text */
}
