.dropdown-item.my-order:hover{
    background-color: #e6e6e6   ;
;
}

/* src/components/UserActions/UserActions.css */
.user-actions {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 20px;
  color: #1890ff;
  transition: color 0.3s;
}

.icon.clickable:hover {
  color: #40a9ff;
  cursor: pointer;
}

.dropdown-container {
  width: 250px;
  max-height: 300px;
  overflow-y: auto;
  padding: 8px;
}

.dropdown-item {
  padding: 8px 0;
}
