/* Override toàn bộ table */
/* .ant-table-tbody > tr:hover > td {
  background-color: #c8e6c9 !important;
  cursor: pointer;
} */

/* Hoặc chỉ áp dụng cho table cụ thể */
.ant-table-wrapper .order-item-row-hover:hover > td {
  background-color: #f0f0f0  !important;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
