body {
  font-family: 'Nunito Sans', sans-serif;
  padding: 0;
  margin: 0;
  overflow-y: scroll !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container {
  margin: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100vw;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dropdown-menu .dropdown-item:hover {
  background: #e5e5e5;
}

.content-wrapper {
  padding: 16px;
  /* Hoặc dùng shorthand */
  /* padding: 0 16px; */
  max-width: 1300px; /* (tuỳ chọn) giới hạn chiều rộng tối đa để tránh quá rộng trên màn hình lớn */
  margin: 0 auto;    /* (tuỳ chọn) căn giữa nếu có max-width */
  background-color: #fff;
}