* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  margin: 0 auto;
  width: 100%;
  background-color: #e0ebeb;
}
/* Reset cơ bản */
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* tránh scroll ngang */
  

  /* Font chung */
  font-family:
    "Roboto",
    "Poppins",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Helvetica Neue",
    "Inter",
    sans-serif;

  color: #212121; /* Màu chữ mặc định */
  background-color: #f9f9f9; /* Màu nền nhẹ cho UI sạch */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5; /* Tăng khả năng đọc */
}

/* Heading - tiêu đề sản phẩm, danh mục, banner */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  margin: 0;
  color: #1b5e20; /* Xanh lá đậm cho thương hiệu nông sản */
}

/* Code snippet hoặc text đặc biệt */
code {
  font-family: "Nunito Sans", monospace;
  background-color: #f5f5f5;
  padding: 2px 4px;
  border-radius: 4px;
}

/* Chỉ hiện thanh cuộn khi cần */
body {
  overflow-y: auto;
}

header {
  width: 100% !important;
  max-width: 100% !important;
  position: relative;
  left: 0;
  right: 0;
}
