
.banner-placeholder {
  width: 100%;
  height: 400px;
  background: linear-gradient(
    -90deg,
    #f0f0f0 0%,
    #e0e0e0 50%,
    #f0f0f0 100%
  );
  background-size: 400% 400%;
  animation: shimmer 1s ease-in-out ;
}

@keyframes shimmer {
  0% { background-position: 100% 0; }
  100% { background-position: -100% 0; }
}
