.card-order:hover{
    background-color: #f8f9fa !important;
    border: 1px solid #2e7d32 !important;
}

.card-order{
    border-radius: 0px !important;
    transition: all 0.3s ease !important;
    border: 1px solid rgb(215, 215, 215) !important;
    margin: 5px;
}